* {
  margin: 0;
  box-sizing: content-box;
}

.primarycolum {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 21px;
  height: 70vh;
  border-radius: 0 0 10vh 10vh;
  box-shadow: 0px 8px 12px -4px rgba(0, 0, 0, 0.5);
  background-color: #dfee5b;
}
.secondarycoloum {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 21px;
  height: 30vh;
}

.maincontainer {
  height: 100%;
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
}
.cover {
  height: 68%;
  width: 76%;
  border-radius: 5vh;
  box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.45);
}
.playpause {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5ac8cc;
  border: 0;
}

.previous,
.next,
.play {
  display: flex;
}
.previous {
  justify-content: end;
  width: 25%;
  height: 25%;
}
.next {
  width: 25%;
  height: 25%;
  justify-content: start;
}
.play {
  width: 32%;
  height: 30%;
  justify-content: center;
}

.details,
.artist {
  font-size: 3.3vh;
  margin-left: 7px;
}
.artist {
  font-size: 2.4vh;
}
.nowplaying {
  font-size: 2vh;
}
.details {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3px;
  margin-left: 0;
}
.albumcover {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 426px) {
  .cover {
    height: 300px;
    width: 300px;
  }
}

.mediabutton:hover {
  cursor: pointer;
}
